html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
  display: table;
  background-color: #e5e9f0;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a,
a:visited {
  color: #333;
}

ul {
  margin-left: 2em;
}

li {
  line-height: 1.5em;

}

.bold {
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 4px;
}

th {
  border-bottom: 2px solid #333;
}

tr {
  line-height: 1.2em;
}

.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.header {
  padding: 1em 1em 2em 1em;
  max-width: 768px;
  background-color: #4c566a;
  color: #f3f3f3;
}

.title {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.hint {
  display: none;
}

.header>.title {
  font-size: 3rem;
}

.header>.title::before {
  content: "//";
  font-size: 5.5rem;
}

.content {
  padding: 1em;
  max-width: 768px;
  background-color: #eee;
}

section>.title {
  font-size: 1.75em;
  margin: 0 0 0.4em 0;
}

section>p {
  line-height: 1.5em;
  margin-bottom: 0.75em;
}

.footer {
  padding: 1em;
  background-color: #ddd;
  max-width: 768px;
}

.copyleft {
  transform: rotate(180deg);
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  position: relative;
  color: #1a1f36;
}

button[type="button"],
.action .default,
.action .button {
  font: 16px "Akkurat Pro Bold", "Arial Black", sans-serif !important;
  color: #fff !important;
  background: #9caaa9 !important;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0.5em 0.5em 0.5em 0;
  padding: 0.8em 1em 0.7em 1em;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  min-width: 165px;
  border: none;
}

button[type="button"]:before,
.action .default:before,
.action .button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4e5d5c !important;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

button[type="button"]:hover:before,
button[type="button"]:focus:before,
button[type="button"]:active:before,
.action .default:hover:before,
.action .default:focus:before,
.action .default:active:before,
.action .button:hover:before,
.action .button:focus:before,
.action .button:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.headline {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 1em;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
  border: none;
  font-size: 30px;
  font-family: Didot, Georgia, 'Times New Roman', Times, serif;
  background-color: #8C1B10;
  color: #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 6px;
}

tr:nth-child(even) {
  background-color: #e6e6e6;
}

th {
  border-bottom: 2px solid #333;
}

.date {
  white-space: nowrap;
}

.footer>ul {
  margin: 0;
}

.footer>ul>li {
  padding-right: 0.5em;
  display: inline;
  list-style: none;
}


/* Style the tab */
.tab {
  margin-bottom: 1em;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  background-color: inherit;
  color: #333;
  float: left;
  border: none;
  outline: none;
  padding: 14px 16px;
}

.tab button.active {
  background: #9caaa9;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  margin-bottom: 1em;
}

.longstring {
  word-break: break-all;
  font-family: monospace;
}

.footer ul {
  padding-bottom: 1em;
}

