@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply dark:bg-gray-950 bg-white
  }
}


home {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.copyleft {
  transform: rotate(180deg);
  display: inline-block;
  position: relative;
}

.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  /* Use the text color */
  transition: width 0.2s ease-in-out;
}

.underline-animation:hover::after {
  width: 100%;
}

.mdx-layout {
  word-wrap: break-word;
}

.mdx-layout h1 {
  @apply text-4xl font-semibold leading-normal mt-2 mb-2;
}

.mdx-layout h2 {
  @apply text-3xl font-semibold leading-normal mt-2 mb-2;
}

.mdx-layout h3 {
  @apply text-xl font-semibold leading-normal mt-3 mb-2;
}

.mdx-layout img {
  width: 50%;
  @apply mt-2 mb-2
}

.mdx-layout p {
  margin: 0.5em 0;
  text-align: left;
}

.mdx-layout iframe {
  width: 70%;
}

@media (max-width: 480px) {
  .mdx-layout iframe {
    width: 100%;
  }
}

.mdx-layout a:hover::after {
  width: 100%;
}

.mdx-layout a {
  position: relative;
  display: inline-block;
  @apply font-semibold;
}

.mdx-layout a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: width 0.2s ease-in-out;
}