@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply dark:bg-gray-950 bg-white
  }
}


home {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.copyleft {
  transform: rotate(180deg);
  display: inline-block;
  position: relative;
}

.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  /* Use the text color */
  transition: width 0.2s ease-in-out;
}

.underline-animation:hover::after {
  width: 100%;
}

.mdx-layout h1 {
  color: blue;
  /* Example style */
  font-size: 2em;
  /* Example style */
}

.mdx-content p {
  padding: 0.4em;
}