html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
center,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
#top-nav ul,
#top-nav li,
#global-links ul,
#global-links li,
#mobile-nav ul,
#mobile-nav li,
#left-nav ul,
#left-nav li,
ul#breadcrumbs,
ul#breadcrumbs li,
footer ul,
footer li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
main,
section {
	display: block;
}

body {
	line-height: 1em;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	font: 62.5%/1.7em "Roboto", Arial, sans-serif;
	font-weight : 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	color: #342f2e;
	background: #fff;
	min-width: 98%;
	height: 100%;
	overflow: auto;
}

body[data-test="test"] #header-span {
	background: "#aa0000" !important;
}

a.screen-reader-shortcut {
	left: .5em;
	position: absolute;
	top: -99px;
}

a.screen-reader-shortcut:focus {
	background-color: #fff;
	box-shadow: 0 0 .3rem .3rem rgba(0, 0, 0, .6);
	color: #1d3557;
	font: bold 1.5em sans-serif;
	padding: 1rem;
	top: .5rem;
	z-index: 5;
}

div[role="banner"] {
	margin: 0 !important;
	padding: 10px 15px !important;
}

div[role="banner"] div {
	line-height: 1.5em !important;
}

#main-content {
	margin: 2rem auto;
	max-width: 1120px;
	font-size: 16px;
	line-height: 1.7em;
	outline: none !important;
}

.contain-1120 {
	margin: 0 auto;
	max-width: 1120px;
	box-sizing: content-box;
}

.contain-970 {
	margin: 0 auto;
	max-width: 970px;
	box-sizing: content-box;
}

#back-to-top {
	display: none;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.hide-label {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

#main-content h1 {
	font: 46px/1.2em "Poppins", "Courier New", sans-serif;
	font-weight: 200;
	color: #457b9d;
	margin-bottom: 1rem;
}

#main-content h2 {
	font: 34px "Poppins", Impact, sans-serif;
	font-weight: 700;
	color: #457b9d;
	margin-bottom: .5rem;
}

#main-content h3 {
	font: 26px "Roboto", Arial, sans-serif;
	font-weight : 400;
	color: #706c6b;
	margin-bottom: 1rem;
}

#main-content h4 {
	font: 21px "Roboto", Arial, sans-serif;
	font-weight : 400;
	color: #457b9d;
	margin-bottom: 1rem;
}

#section-header h2 {
	font: 18px "Roboto", "Arial Black", sans-serif;
	font-weight: 700;
	text-transform: none;
	margin-bottom: 0;
}

.content-full a {
	font-family: "Roboto", "Arial Black", sans-serif;
	font-weight: 700;
	color: #457b9d;
	text-decoration: none;
}

.content-full a:hover {
	text-decoration: underline;
}

.content-full strong,
.content-full b {
	font-family: "Roboto", "Arial Black", sans-serif;
	font-weight: 700;
}

.content-full em,
.content-full i {
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 400;
	font-style: italic;
}

.content-full strong em,
.content-full em strong,
.content-full strong i,
.content-full i strong,
.content-full b i,
.content-full i b {
	font-family: "Roboto", "Arial Black", sans-serif;
	font-style: italic;
	font-weight: 700;
}

.content-full p:last-of-type {
	margin-bottom: 1.5rem;
}

.content-full ul {
	list-style: none;
	margin: 0 0 1em 1em;
	padding-left: 1em;
}

.content-full ul li {
	background-position: 0 .5em;
	padding: 0 0 .5em 1em;
	overflow: hidden;
}

.content-full ol {
	list-style: outside;
	padding-left: 3.3em;
	margin-bottom: 1em;
}

.content-full ol li {
	list-style-type: decimal;
}

.content-full table {
	width: 100%;
	font: 16px "Roboto", Arial, sans-serif;
	font-weight : 400;
	color: #6d6e71;
}

.align-text-center {
	text-align: center;
}

.align-image-left {
	float: left;
	margin: .5em 1.5em .5em 0;
}

.align-image-right {
	float: right;
	margin: .5em 0 .5em 1.5em;
}

.align-image-center {
	margin: 0 auto;
	display: block;
}

header {
	background: #457b9d;
}

#top-bar {
	background: #1d3557;
	padding: 0;
	font: 12px/1.4em "Roboto", "Arial Black", sans-serif;
	font-weight: 700;
}

#top-bar li {
	display: inline;
	margin-left: 1rem;
	text-transform: uppercase;
	padding: 0;
}

#top-bar li:first-child {
	margin-left: 0;
}

#top-bar a {
	color: #d7c8ee;
	text-decoration: none;
}


#top-bar a:hover {
	text-decoration: underline;
}

#top-bar a.white-link {
	color: #fff;
}

.bottom-bar {
	display: table;
	width: 100%;
}

#left {
	display: inline;
	float: left;
	padding-left: 0;
}

#right {
	display: inline;
	float: right;
	padding-left: 0;
}

#department {
	display: table-cell;
	vertical-align: middle;
	width: 76.33929%;
	height: 112px;
	padding: 1rem 0;
}

#department h1 {
	font-size: 32px;
	line-height: 1em;
	text-transform: uppercase;
}

#department h1 a {
	font-family: "Roboto", Arial, sans-serif;
	font-weight : 400;
	color: #fff;
	text-decoration: none;
}

#department h1 a:hover {
	text-decoration: none;
}

#mini #left img {
	width: 170px;
	margin: 1.1rem 0 1rem 0;
}


#mini a {
	color: #fff;
}

@media screen and (max-width:1445px) {
	#top-bar {
		padding: 0 .5rem;
	}
}

@media screen and (max-width:1155px) {
	#main-content {
		margin: 2rem 1rem;
	}

	#search {
		padding-right: 1rem;
	}

	#department {
		padding-left: 1rem;
	}

	#search {
		padding-right: 1rem;
	}
}

@media screen and (max-width:1140px) {
	footer {
		padding: 3rem 1rem;
	}
}

@media screen and (max-width:930px) {
	#nu #top-bar {
		padding: 1rem 0;
		line-height: inherit;
	}

	#nu #top-bar ul {
		display: inline;
	}

	#nu #top-bar li {
		margin-bottom: .5rem;
	}

	#nu #top-bar li:first-child {
		margin-left: 1rem;
	}

	#nu #left,
	#nu #right {
		padding: 3rem 0;
		float: none;
	}

	#mini #department h1 {
		margin: .5rem 0;
	}
}

@media screen and (max-width:820px) {
	.footer-content {
		width: 40%;
		margin-bottom: 1rem;
		margin-right: 1rem;
	}

	.footer-content:nth-of-type(2),
	.footer-content:nth-of-type(4) {
		margin-left: 2rem;
		width: 40%;
	}
}

@media screen and (max-width:768px) {
	header {
		position: relative;
	}

	#search {
		display: none;
	}

	.hide-mobile {
		display: none;
	}

	#back-to-top {
		margin: 2rem 0 2rem 0;
	}


	#top-nav {
		display: none;
	}

	#top-bar {
		display: none;
	}

	#mini #top-bar {
		display: block;
		padding: .5rem 0;
	}

	#mini #left {
		text-align: center;
		display: block;
		float: none;
	}

	#mini #left img {
		width: 160px;
		height: 21px;
		margin: .3rem 0;
	}

	#mini #right {
		display: none;
	}

	#mini #department {
		padding: .7rem 0 .5rem 1rem;
	}

	#department {
		padding-left: 1rem;
		height: auto;
		width: 100%;
	}

	#department h1 {
		font-size: 24px;
	}

	.hide-desktop {
		display: block;
	}

	.fixed>tbody>tr>td {
		display: block;
	}
}

@media screen and (max-width:550px) {
	footer {
		font-size: 14px;
		line-height: 1.8em;
	}

	.footer-content {
		width: 100%;
		display: block;
		margin-bottom: 2rem;
	}

	.footer-content:nth-of-type(2),
	.footer-content:nth-of-type(4) {
		margin-left: 0;
		width: 100%;
	}

	.footer-pin-icon {
		top: .5em;
	}
}

@media screen and (max-width:480px) {
	#mini #department h1 {
		font-size: 18px;
	}

	#register_map {
		width: 100% !important;
	}

	#register_map #map {
		width: 100% !important;
	}
}

p span {
	font: 16px/1.7em "Roboto", Arial, sans-serif !important;
	font-weight : 400;
}

p.error,
#form_response_banner {
	display: inline-block;
}
input[type="text"],
input:not([type]),
textarea {
	padding: .5rem;
	font-size: 16px;
	width: 200px;
}



select {
	padding: .4rem;
	font-size: 16px;
}

button[type="button"],
.action .default,
.action .button {
	font: 16px "Roboto", "Arial Black", sans-serif !important;
	font-weight: 700;
	color: #fff !important;
	background: #457b9d !important;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	margin: .5em .5em .5em 0;
	padding: .8em 1em .7em 1em;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	min-width: 165px;
	border: none;
}

.submit {
	background-color: #0a9396;
	margin-top: 1em;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
}

button[type="button"]:before,
.action .default:before,
.action .button:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #005F73 !important;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

button[type="button"]:hover,
button[type="button"]:focus,
button[type="button"]:active,
.action .default:hover,
.action .default:focus,
.action .default:active,
.action .button:hover,
.action .button:focus,
.action .button:active {
	color: #fff;
	text-decoration: none;
}

button[type="button"]:hover:before,
button[type="button"]:focus:before,
button[type="button"]:active:before,
.action .default:hover:before,
.action .default:focus:before,
.action .default:active:before,
.action .button:hover:before,
.action .button:focus:before,
.action .button:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.hide-desktop {
	display: none;
}

.success {

	background-color: #e6efc2;
	border-color: #529214;
	border-left: 5px solid #3b4252;
	border-left-color: #3b4252;
	color: #3b4252;
	display: block;
	padding: 10px 10px 10px 15px;

}

.chinese {
	font-family: 'Noto Serif SC', serif;
	font-weight: 600;
}

ul.subtabs {
	background: none;
	padding-left: 0;
	margin: 1em 0 2em 0;
	height: inherit;
	border-bottom: 3px solid #457b9d;
	line-height: 0;
}

ul.subtabs>li {
	background: none;
	padding: 0;
	display: inline-flex;
}

ul.subtabs>li>a {
	font: 18px "Roboto", Arial, sans-serif;
	font-weight: 400;
	color: #457b9d !important;
	text-decoration: none !important;
	text-align: center;
	box-sizing: content-box;
	height: inherit;
	min-width: 165px;
	padding: .8em 1em .7em 1em;
	margin: 0 5px 0 0;
	border: none;
	background: #e4e0ee;
	-webkit-transition: all .2s ease;
	transition: all .5s ease;
}

ul.subtabs>li>a:hover,
ul.subtabs>li>a.selected {
	color: #fff !important;
	background: #457b9d !important;
}

@media only screen and (max-width:480px) {
	table.plain {
		table-layout: auto;
	}
}

tbody>tr>td {
	padding: 4px 5px;
	text-align: left;
}

.full-width {
	width: 100%;
}

.banner_text {
	font: 48px/1.2em "Poppins", Impact, sans-serif;
	font-weight: 700;
	color: #5e81ac ;
	text-shadow: 2px 2px 0px #3b4252;
	margin: 0 0 1rem 1rem;
	position: relative;
}


@media only screen and (max-width: 480px) {
	.small_text {
		font: 32px/1.2em "Poppins", Impact, sans-serif;
		font-weight: 700;
	}
}

@media only screen and (max-width: 1000px) {
	.med_text {
		font: 48px/1.2em "Poppins", Impact, sans-serif;
		font-weight: 700;
	}
}

@media only screen and (max-width: 480px) {
	.grid_container {
		display: block;
	}
}

.copyleft {
		transform: rotate(180deg);
		display: inline-block;
		position: relative;
		color: #1a1f36;
	}