html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

html,
body {
    height: 100%;
}

body {
    margin: 0 auto;
    display: table;
    background-color: #e5e9f0;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a,
a:visited {
    color: #333;
}

ul {
    margin-left: 2em;
}

li {
    line-height: 1.5em;
}

.bold {
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 4px;
}

th {
    border-bottom: 2px solid #333;
}

tr {
    line-height: 1.2em;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

/*.main {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .15);
}*/

.header {
    padding: 1em 1em 2em 1em;
    max-width: 768px;
    background-color: #4c566a;
    color: #f3f3f3;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hint {
    display: none;
}

.header>.title {
    font-size: 3rem;
}

.header>.title::before {
    content: '//';
    font-size: 5.5rem;
}

.content {
    padding: 1em;
    max-width: 768px;
    background-color: #eee;
}

.content>.title {
    font-size: 1.75em;
    margin: 0 0 .4em 0;
}

.content>p {
    line-height: 1.5em;
    margin-bottom: .75em;
}

p.address,
.regnum,
.mono {
    font-family: 'Courier New', Courier, monospace;
}

p.address {
    margin-bottom: 0;
}

.footer {
    padding: 1em;
    background-color: #ddd;
    max-width: 768px;
}

.loading {
    color: #aaa;
}

a.button {
    -webkit-appearance: none;
    cursor: pointer;
    background-color: #f3f3f3;
    border: 2px solid #ccc;
    color: #444;
    padding: 5px 8px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.button:hover {
    background-color: #eee;
}

.copyleft {
    transform: rotate(180deg);
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    position: relative;
    color: #1a1f36;
}

button[type="button"],
.action .default,
.action .button {
    font: 16px "Akkurat Pro Bold", "Arial Black", sans-serif !important;
    color: #fff !important;
    background: #9caaa9 !important;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    margin: .5em .5em .5em 0;
    padding: .8em 1em .7em 1em;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    min-width: 165px;
    border: none;
}

button[type="button"]:before,
.action .default:before,
.action .button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4e5d5c !important;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

button[type="button"]:hover,
button[type="button"]:focus,
button[type="button"]:active,
.action .default:hover,
.action .default:focus,
.action .default:active,
.action .button:hover,
.action .button:focus,
.action .button:active {
    color: #fff;
    text-decoration: none;
}

button[type="button"]:hover:before,
button[type="button"]:focus:before,
button[type="button"]:active:before,
.action .default:hover:before,
.action .default:focus:before,
.action .default:active:before,
.action .button:hover:before,
.action .button:focus:before,
.action .button:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}